h2 {
    text-align: center;
    margin-block: 1em;
}

table {
    font-size: 100%;
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    display: block;
    overflow: auto;
    border-width: 0px;
}

th,
td {
    text-align: left;
    padding: 8px;
    white-space: nowrap;
}

th {
    background-color: #bb3300;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: white;
}